<section id="about" class="vh-100 d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="bg-light shadow p-4 my-2">
            <div class="row">
                <div class="col-md-6">
                    <div class="row mb-4">
                        <div class="col-5">
                            <img src="https://avatars.githubusercontent.com/u/8320334?v=4" alt="testimonial-2" class="rounded-circle img-fluid w-100">
                        </div>
                        <div class="col-sm-7 d-flex justify-content-start align-items-center">
                            <div>
                                <p><span class="text-capitalize"><b>Name</b>: </span>Abdelmoez GUETAT</p>
                                <p><span class="text-capitalize"><b>Profile</b>: </span>Full Stack Developer</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <div class="mb-4">
                            <h4>About me</h4>
                            <div class="line"></div>
                        </div>
                        <p class="lead">I'm Abdelmoez, a full stack developer with expertise in Java/JEE for back-end and Angular for front-end development. I build scalable web apps, focusing on clean code, performance, and user experience. Passionate about learning and delivering efficient solutions.</p>
                        <p class="lead">Let’s connect!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="mb-4">
                        <h4>Skills</h4>
                        <div class="line"></div>
                    </div>
                </div>
                <div class="col-6">
                    <div>
                        <span class="mb-1 d-block">HTML 85%</span>
                        <div class="progress mb-3" role="progressbar" aria-label="Basic example" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 85%"></div>
                        </div>
                        <span class="mb-1 d-block">CSS 75%</span>
                        <div class="progress mb-3" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 75%"></div>
                        </div>
                        <span class="mb-1 d-block">JAVA 100%</span>
                        <div class="progress mb-3" role="progressbar" aria-label="Basic example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 100%"></div>
                        </div>
                        <span class="mb-1 d-block">Angular 90%</span>
                        <div class="progress mb-3" role="progressbar" aria-label="Basic example" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 90%"></div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div>
                        <span class="mb-1 d-block">Javascript 100%</span>
                        <div class="progress mb-3" role="progressbar" aria-label="Basic example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 100%"></div>
                        </div>
                        <span class="mb-1 d-block">Docker 75%</span>
                        <div class="progress mb-3" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 75%"></div>
                        </div>
                        <span class="mb-1 d-block">Node.js 85%</span>
                        <div class="progress mb-3" role="progressbar" aria-label="Basic example" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 85%"></div>
                        </div>
                        <span class="mb-1 d-block">GIT 99%</span>
                        <div class="progress mb-3" role="progressbar" aria-label="Basic example" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 99%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
