<header id="home">
    <div class="container">
      <div class="home-content d-flex justify-content-center align-items-center vh-100">
        <div class="text-light text-center">
      <h2 class="text-light">Abdelmoez GUETAT</h2>
        <div class="animated-letters">
          <p>Developer</p>
          <p>Freelancer</p>
          <p>Architect</p>
          <p>Specialist</p>
          <p>Engineer</p> 
    </div>
      <div class="social-links">
        <a class="btn btn-outline-secondary btn rounded-circle mx-1 bg-transparent" href="https://github.com/abdelmoez-guetat" target="_blank"><i class="bi bi-github"></i></a>
        <a class="btn btn-outline-secondary btn rounded-circle mx-1 bg-transparent" href="https://fr.linkedin.com/in/abdelmoez-guetat" target="_blank"><i class="bi bi-linkedin"></i></a>
        <a class="btn btn-outline-secondary btn rounded-circle mx-1 bg-transparent" href="https://www.credential.net/profile/abdelmoez-guetat/wallet" target="_blank"><i class="bi bi-patch-check"></i></a>
      </div>
    </div>
  </div>
</div>
</header>